* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.title {
    padding: 20px;
    font-family: 'Product Sans', sans-serif;
    text-align: center;
}

.image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: auto;
}

.image-container .image {
    justify-content: center;
    align-items: center;
    display: none;
    width: 100%;
}

.image-container .image img {
    height: 70%;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    border-radius: 50%;
    border: none;
    transform: translateY(-50%);
}

.prev {
    left: 5%;
}

.next {
    right: 5%;
}

.dots-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.dot {
    cursor: pointer;
    margin: 5px;
    width: 20px;
    height: 20px;
    color: #333;
    border-radius: 50%;
    background-color: #dfd6ce;
}

.dot.active {
    border: 2px solid green;
}
